<!DOCTYPE html>
<html lang="en">
    
<head th:replace="~{_template::head('Chat')}"></head>
<body>
    <nav th:replace="~{_template::#navbar}"></nav>
    <div style="
            background-color: #343541;
            margin: 0px;
            height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            "
    >
      <div style="
                width: 1000px;
                display: flex;
                flex-direction: column;
                align-items: center;
                "
      >

        <div th:each="chat : ${chatList}" th:class="'container ' +${!chat.bot ? 'darker': ''}">
          <img th:src="${chat.bot ? '../../assets/chat.jpg' : '../../assets/profile.jpg'}" alt="Avatar" th:class="${!chat.bot ? 'right' : ''}">
          <p th:text="${chat.text}"></p>
          <span  th:text="${chat.time}" th:class="${!chat.bot ? 'time-left' : 'time-right'}"></span>
        </div>
         
      </div>

      <p th:text="${chatList}" style="color: white;"></p>

      <form class="text-box" th:action="${'/chat'}"  method="post" th:object="${chat}">
        
        <textarea 
          placeholder="send message"
          th:field="*{text}" 
        ></textarea>
        
        <button class="btn"><i class="material-icons">send</i>
        </button>
     
      </form>
      
      
     
    </div>
    <script>
      const textarea = document.querySelector("textarea");
      textarea.addEventListener("keyup", e=>{
        textarea.style.height = `auto` 
        let scHeight = e.target.scrollHeight;
        textarea.style.height = `${scHeight}px`   
         
      })
    </script>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger');
      const options = {
          constrainWidth: false,
          coverTrigger: false
      }
      var instances = M.Dropdown.init(elems, options);
  });
</script>
</html>